<strong> Olá, {{ owner }}</strong>
<p>
   O Usuário {{ user_u }} foi adicionado ao evento {{ event }}.
</p>
<p>
   <strong>Descrição do Evento: </strong> {{ desc }} <br />
   <strong>Data/Hora: </strong> {{ date }} <br />
   <br />
   <strong>Para mais informações envie um email direto ao usuário: </strong> {{ mail_u }}
</p>
